@import '~styles/utilities';

.page {
	display: flex;
	flex-direction: column;
	min-height: 95vh;

	@include lg {
		min-height: 100vh;
	}
}

.head {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.content {
	flex: 1;
	padding-top: $page-head-height + $sp-600;
	padding-left: $sp-400;
	padding-right: $sp-400;
	max-width: 610px;
	margin: 0 auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $sp-150 $sp-400;
	border-top: 1px solid $parchment-600;
}
